div {
  border-width: 1px;
  border-style: dashed;
  border-color: red;
}

body {
  background-image: url("Main_Background.png");
  background-repeat: repeat;
  color: rgba(204,204,204, 0.7);
}


.content {
  display: flex;
  padding: 15px 20px;
}

.sideBarMenu {
  width: 25%;
  height: 100%;
  background-color: #220033;
}

h3 {
  text-align: center;
  font-size: 40px;
}

form {
  padding-left: 15px;
  font-size: 24px;
}

.userSummary {
  font-weight: normal;
  text-align: center;
  width: 75%;
}

.userSummary h3 {
  margin: 8px 12px 16px;
  font-size: 56px;
}

.userSummary h4 {
  margin: 8px 12px 16px;
  font-size: 40px;
}

table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}


