* {
  color: lightgrey;
  text-decoration: none;
}

body {
  height: 100vh;
  background-image: url("Login_Background.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDiv {
  border-style: solid;
  height: 20%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  backdrop-filter: blur(5px);

  /* Center Login Page */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  text-align: left;
  transition: all 0.6s;
}

.registerButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6%;
  margin-right: 6%;
  border: solid;
  border-radius: 24px;
  background-color: transparent;
  font-size: 16px;
  padding: 12px 16px;
  transition: 0.15s ease-in;
}

/* Both register & submit buttons do the same thing */
.registerButton:hover, input[type="submit"]:hover {
  transform: scale(1.25);
}

.registerButton:active, input[type="submit"]:active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Add a subtle shadow */
  background-color: rgba(255, 255, 255, 0.05);
}

h3 {
  font-size: 48px;
}

label {
  font-size: 24px;
}

input, form {
  color: #2b2b2b;
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
  border: none;
  border-radius: 16px;
  width: 65%;
}

input[type="submit"] {
  border: solid;
  border-radius: 32px;
  padding: 8px 16px;
  color: lightgrey;
  font-size: 32px;
  background-color: transparent;
  transition: all 0.15s ease-in;
}

