.timerInformation {
  height: 50%;
  display:flex;
}

.half {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sliderValue, #minutes {
  display: inline;
}

input[type="range"] {
  width: 300px;
}

#selectATask {
  margin-right: 40px;
}

#startIcon {
  cursor: pointer;
}

#startIcon:hover {
  transform: scale(1.25);
}

#startIcon:active {
  transform: scale(0.85);
}
